<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wizards World</title>
</head>

<body>
    <h1>Welcome to the Wizards World!</h1>
    <h2>Elixirs from Proffessor Snape's Potions Class</h2>
    <a href="/elixirs">Elixirs</a><br>
    <a href="/wizards">Elixirs Creators, Great Wizards</a><br>
    <a href="/ingredients">Ingredients for Elixirs</a><br>
    <h2>Spells from Professor Flitwick's Charms class</h2>
    <a href="/spells">Spells</a>
</body>

</html>