<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of ingredients</title>
</head>

<body>
    <h1>All Ingredients</h1>
    <ol>
        <% ingredients.forEach(ingredient=> { %>
            <li style="padding-bottom: 10px;">
                <a href="/ingredients/<%= ingredient._id %>" width="1000px" >
                    <%= ingredient.name %>
                </a>
                <a href="/ingredients/<%= ingredient._id %>/edit">
                    <button type="button">Edit</button>
                </a>
                <a href="/ingredients/<%= ingredient._id %>/delete">
                    <button type="button">Delete</button>
                </a>               
            
            </li>
            <% }); %>
    </ol>

    <h3>Add New Elixir Ingredient</h3>
    <form action="/ingredients" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <button type="submit">Add Ingredient</button>
    </form>
    <br><br>
    <a href="/"> Go back Home</a>

</body>

</html>