<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of ingredients</title>
</head>

<body>
    <h1>All Ingredients</h1>
    <ol>
        <% ingredients.forEach(ingredient=> { %>
            <li><a href="/ingredients/<%= ingredient._id %>">
                    <%= ingredient.name %>
                </a></li>
            <% }); %>
    </ol>

    <a href="/ingredients/new">Add New Elixir Ingredient</a>

</body>

</html>